<div class="user-card">
    <div class="main">
        <img class="thumbnail-md" src="<%= avatar %>" alt="/images/avatar.png">
        <div class="details">
            <h6><%= username %></h6>
            <p><%= distance %>km away</p>
        </div>
    </div>
    <button class="button primary">Order Delivery</button>
</div>