<div class="carousel">
    <div class="main-image">
        <span class="position">1/3</span>
    </div>
    <div class="images-flex">
        <button><img src="/images/default.png" alt=""></button>
    </div>
</div>