<div class="user-card">
    <div class="main">
        <img class="thumbnail-md" src="<%= driver.avatar %>" alt="/images/avatar.png">
        <div class="details">
            <h6><%= driver.username %></h6>
            <p><%= data %></p>
        </div>
    </div>
    <button class="button primary">Order Delivery</button>
</div>