<select name="productSelect" id="productSelect">
    <% products.forEach(product => { %>
        <option value="<%= product._id %>"><%= product.title %></option>
    <% }); %>
</select>
<canvas class="flex flex-col p-4 gap-2 bg-background-50 border-2 border-background-100 shadow-lg rounded-lg" id="productPerformanceChart"></canvas>

<script>
    const productPerformanceChartCTX = document.getElementById('productPerformanceChart').getContext('2d');

    let productPerformanceChart = undefined
    if (productPerformanceChart) { myChart.destroy() }

    document.getElementById("productSelect").addEventListener('change', async (event) => {
        try {
            let id = event.target.value;
            let selectedIndex = event.target.selectedIndex;
            let productName  = event.target.options[selectedIndex].text;
            let response = await fetch(`http://localhost:3000/getProductData/${ id }`);
            let result = await response.json();

            const data = {
                labels: [1, 2, 3, 4, 5, 6, 7],
                datasets: [
                    {
                        label: `Demand for ${ productName }`,
                        data: result,
                        backgroundColor: ["rgba(255,0,0,0.5)", "rgba(0,255,0,0.5)"],
                        borderColor: 'rgb(75, 192, 192)',
                        hoverOffset: 4,
                        borderRadius: 5,
                        borderWidth: 2,
                        tension: 0.1
                    }
                ]
            };
            const config = {
                type: 'line',
                data: data,
                options: {
                    scales: {
                        y: { beginAtZero: true, grid: { display: false } },
                        x: { grid: { display: false } }
                    },
                }
            };
            productPerformanceChart = new Chart(productPerformanceChartCTX, config);
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    })
</script>