<div class="user-card">
    <div class="main">
        <img class="thumbnail-md" src="<%= product.images[0] %>" alt="/images/avatar.png">
        <div class="details">
            <h6><%= product.title %></h6>
        </div>
    </div>
    <button class="button bad">Decline</button>
    <button class="button primary">Accept</button>
</div>