<div class="review-card flex gap-2 p-2 bg-background-50 rounded-lg">
    <img class="thumbnail-base bg-background-100 rounded-full" src="<%= review.avatar %>" alt="<%= review.username %>">
    <div class="main flex flex-col w-fit">
        <p class="font-bold"><%= review.username %></p>
        <p><%= review.comment %></p>
    </div>
</div>