<a href="/profile/<%= user._id %>">
    <div class="user-card">
        <div class="main">
            <img class="thumbnail-base" src="<%= user.image %>" alt="/images/avatar.png">
            <div class="details">
                <h6><%= user.username %></h6>
                <p><%= user.data %></p>
            </div>
        </div>
    </div>
</a>