<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head', { title: 'Buy quality goods' }) %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: '/cart', accountType }) %>

    <section class="container">
        <h1>My Cart</h1>
        <div class="cart-items flex flex-col gap-2">
            <% products.forEach((product) => { %>
                <%- include('./components/cartItemCard', { product }) %>
            <% }); %>
        </div>
    </section>
</body>

<%- include('./components/cartHandler') %>
</html>