<!doctype html>
<html>

<head>
    <%- include('./components/head', { title: 'Error' }) %>
</head>

<body>
    <%- include('./components/navbar') %>

    <section class="container error-section">
        <h1>ERROR: <%= statusCode %></h1>
        <p><%= statusMessage %></p>
    </section>
</body>

</html>