@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text-50: #ffffff;
        --text-100: #e6e6e6;
        --text-200: #cccccc;
        --text-300: #b3b3b3;
        --text-400: #999999;
        --text-500: #808080;
        --text-600: #666666;
        --text-700: #4d4d4d;
        --text-800: #333333;
        --text-900: #1a1a1a;

        --background-50: #ffffff;
        --background-100: #e6e6e6;
        --background-200: #cccccc;
        --background-300: #b3b3b3;
        --background-400: #999999;
        --background-500: #808080;
        --background-600: #666666;
        --background-700: #4d4d4d;
        --background-800: #333333;
        --background-900: #1a1a1a;

        --primary-50: #e8fdf0;
        --primary-100: #d1fae1;
        --primary-200: #a2f6c4;
        --primary-300: #74f1a6;
        --primary-400: #45ed88;
        --primary-500: #17e86b;
        --primary-600: #12ba55;
        --primary-700: #0e8b40;
        --primary-800: #095d2b;
        --primary-900: #052e15;
    }
}

* { transition: 0.3s }

::-webkit-scrollbar { width: 5px }
::-webkit-scrollbar-track { @apply bg-background-200 }
::-webkit-scrollbar-thumb { @apply bg-background-300 rounded }
::-webkit-scrollbar-thumb:hover { @apply bg-background-600 }

body { @apply w-screen min-h-screen flex flex-col gap-4 overflow-y-scroll }

section { @apply flex flex-col flex-grow gap-4  }

h1 { @apply text-4xl font-bold text-text-800; }
h2 { @apply text-3xl font-bold text-text-800; }
h3 { @apply text-2xl font-bold text-text-800; }
h4 { @apply text-xl font-bold text-text-800; }
h5 { @apply text-lg font-bold text-text-800; }
h6 { @apply text-base font-bold text-text-800; }
p { @apply text-base text-text-800; }
a { @apply cursor-pointer; }

svg * { fill: inherit; }

input { @apply p-2 rounded-lg bg-background-100 }
select { @apply p-2 rounded-lg bg-background-100 }

input[type='submit'] { @apply text-text-50 bg-primary-400 hover:bg-primary-500 }

.container { @apply mx-auto px-4; }
.segment { @apply flex-col gap-2 }

.button { @apply p-2 text-center; }
.link { @apply hover:text-primary-500; }
.default { @apply bg-background-200 rounded-lg; }
.primary { @apply text-background-50 bg-primary-500 rounded-lg; }
.secondary { @apply bg-primary-200 rounded-lg; }
.bad { @apply bg-red-300 rounded-lg; }

.icon { @apply aspect-square }
.icon-sm { @apply icon h-6 w-6 }
.icon-base { @apply icon h-6 w-6 }
.icon-md { @apply icon h-12 w-12 }
.icon-lg { @apply icon h-14 w-14 }

.thumbnail { @apply aspect-square }
.thumbnail-base { @apply thumbnail w-12 h-12 }
.thumbnail-auto { @apply thumbnail w-full }
.thumbnail-md { @apply thumbnail w-16 h-16 }

/* Components */
.notification-modal-container { @apply fixed top-0 w-screen h-[150px] flex flex-col items-center gap-2 p-4 overflow-y-hidden }
.notification-modal { @apply w-full max-w-96 flex items-center justify-between p-4 rounded-lg shadow-lg }
.notification-modal.error { @apply bg-red-100 border-2 border-red-200 }
.notification-modal.warn { @apply bg-yellow-100 border-2 border-yellow-200 }
.notification-modal.info { @apply bg-blue-100 border-2 border-blue-200 }
.notification-modal .main { @apply flex items-center gap-4 }

.notification-modal.error .main svg{ @apply fill-red-500 }
.notification-modal.warn .main svg{ @apply fill-yellow-500 }
.notification-modal.info .main svg{ @apply fill-blue-500 }

.navbar { @apply flex flex-col gap-2 w-full p-2 bg-background-50 border-b-2 }
.navbar .main { @apply flex items-center justify-between }
.navbar .container .left { @apply flex items-center gap-2 }
.navbar .container .right { @apply flex items-center gap-2 }
.navbar .logo { @apply text-2xl text-primary-500 font-bold }
.navbar form.search { @apply flex flex-grow items-center px-4 p-2 bg-background-100 rounded-lg }
.navbar form.search input { @apply w-full bg-background-100 p-0 }
.navbar .filter { @apply gap-16 }

.category-card { @apply w-full flex flex-col gap-2 items-center }
.category-card img { @apply thumbnail-md rounded-full }
.category-card .title { @apply text-lg text-center text-text-900 font-semibold }

.price { @apply flex items-baseline }
.price-base .currency { @apply font-semibold }
.price-base .priceWhole { @apply text-xl text-text-900 font-bold }
.price-base .priceDecimal { @apply text-lg text-text-900 font-bold }
.price-base .quantity { @apply text-base text-text-900 font-semibold }

.price-lg .currency { @apply font-semibold }
.price-lg .priceWhole { @apply text-3xl text-text-900 font-bold }
.price-lg .priceDecimal { @apply text-lg text-text-900 font-bold }
.price-lg .quantity { @apply text-base text-text-900 font-semibold }

.ratings { @apply flex gap-1 }

.product-card { @apply flex flex-col gap-2 p-2 }
.product-card .title { @apply text-lg text-text-900 font-semibold truncate text-ellipsis }
.product-card .image { @apply thumbnail-auto bg-background-100 rounded-lg }
.product-card .cart-button { @apply w-max h-max p-4 m-4 bg-background-50 rounded-full shadow-lg }

.user-card { @apply flex items-center justify-between }
.user-card .main { @apply flex items-center gap-4 }
.user-card .main img { @apply bg-background-100 rounded-full }
.user-card button { @apply rounded-lg }

.carousel { @apply w-full flex flex-col gap-4 }
.carousel .main-image { @apply thumbnail-auto bg-background-100 rounded-lg }
.carousel .main-image .position { @apply relative top-2 left-2 px-4 py-1 bg-background-50 rounded-full }
.carousel img { @apply thumbnail-md bg-background-100 rounded-lg }

/* Animations */
@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}
